# {{ project_name }}

{{ project_description }}

## Quickstart

1. Install dependencies:

   ```bash
   make sync
   ```

2. Run checks:

   ```bash
   make check
   ```

3. Run the app:

   ```bash
   make run
   ```
