# {{ project_name }}

{{ project_description }}

## Quickstart

1. Install dependencies:

   ```bash
   make sync
   ```

2. Start development server:

   ```bash
   make dev
   ```

3. Run tests:

   ```bash
   make test
   ```
