# {{ project_name }}

{{ project_description }}

## Quickstart

1. Sync dependencies:

   ```bash
   make sync
   ```

2. Run tests:

   ```bash
   make test
   ```

3. Run the app:

   ```bash
   make run
   ```
